.my-queue {
  overflow-x: scroll;
  border-top: 1px solid $codGray;
  border-bottom: 1px solid $codGray;
  background-color: darken($mineShaft, 10%);

  &-title {
    margin: 0.25em 0;
    font-size: 2em;
  }

  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: inline-block;
      margin: 1em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-button,
  &-card,
  &-card--front,
  &-card--back {
    width: 210px;
    height: 295px;
  }

  &-button {
    position: relative;
    padding: 0;
    border: 0;
    background-color: $mineShaft;
    cursor: pointer;

    perspective: 1000px;

    &:hover .my-queue-card {
      transform: rotateY(180deg);
    }
  }

  &-card {
    position: relative;
    transition: transform 0.6s 0.4s linear;

    transform-style: preserve-3d;

    &--front,
    &--back {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $mineShaft;

      backface-visibility: hidden;
    }

    &--front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    &--back {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);

      > .my-queue-button-text {
        padding: 0.2em 1.5em;
        border: 2px solid $white;
        color: $white;
        font-size: 1.75em;
        font-family: $sans-serif;
      }
    }
  }
}
